<!DOCTYPE html>
<!-- 
  Section 003
  Group 15
  Brendan Bundy, Jakob Blosil, McKenna Alder, Tanner Atkin

  This page allows a user to view the dashboard, and individual survey responses.
 -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Home</title>
  <!-- Favicon -->
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <!-- CSS -->
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/dashboard.css">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
</head>

<body>
  <div id="body-content">
    <!-- Navbar -->
    <nav>
      <a href="/editUser">Edit Account Info</a>
      <a href="/logout">Log Out</a>
    </nav>

    <header>
      <h2>Welcome!</h2>
      <p>View your current recipies below and decide what you want to add to your shopping list.</p>
      <a href="/createRecipe">Create Recipe</a>
    </header>

    <h3>Select Recipes</h3>
    <form action="/aggregate_ingredients" method="post">
      <div id="recipe-card-container">
        <% recipes.forEach(recipe=> { %>
          <div class="recipe-card" style="background-image: url('<%= recipe.image %>');">
            <h4>
              <%= recipe.title %>
            </h4>
            <a href="/recipe_view">View Recipe</a>
            <div class="token-container">
              <input id="<%= recipe.title %>" value="<%= recipe.title %>" name="selected-recipes" type="checkbox" />
              <label for="<%= recipe.title %>" class="token">Add to Shopping List</label>
            </div>
          </div>
          <% }); %>
      </div>
      <button type="submit">Generate Grocery List</button>
    </form>

    <!-- Footer -->
    <footer>
      <p>© 2023, Incorperated Inc.</p>
      <p>Updated December 2023</p>
    </footer>
  </div>
</body>

</html>